@media screen and (min-width: 769px) {
  #skills {
    height: auto;
  }

  #titre-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10%;
    font-size: 50px;
  }

  #text-skills {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 75px;
  }

  .skills {
    width: 500px;
    border: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #domaine-competence {
    font-size: 20px;
  }

  /*.icon-skill {
    font-size: 30px;
  }*/

  .titre-skills {
    font-size: 30px;
  }

  .box-competence {
    width: 400px;
  }

  .box {
    width: 400px;
    background-color: rgb(235, 231, 231);
  }

  .box-essai {
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 30px;
    background-color: rgb(235, 231, 231);
    color: white;
    margin: 10px 0px 10px 0px;
  }

  .box-essai-titre {
    display: flex;
    align-items: center;
    padding-left: 20px;
    width: 110px;
    height: 100%;
    background-color: rgb(70, 68, 68);
    background-color: rgb(60, 106, 235);
  }

  .pourcentage-100 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    width: 250px;
    height: 100%;
    background-color: rgb(143, 137, 137);
    background-color: rgb(119, 151, 236);
  }
  .pourcentage-80 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    width: 170px;
    height: 100%;
    background-color: rgb(143, 137, 137);
    background-color: rgb(119, 151, 236);
  }
  .pourcentage-60 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    width: 90px;
    height: 100%;
    background-color: rgb(143, 137, 137);
    background-color: rgb(119, 151, 236);
  }

  #competence-100 {
    width: 100%;
    height: 30px;
    /*background-color: rgb(139, 109, 221);*/
    background-color: rgb(143, 137, 137);
    margin: 10px 0px 10px 0px;
  }
  #competence-80 {
    width: 80%;
    height: 30px;
    /*background-color: rgb(139, 109, 221);*/
    background-color: rgb(143, 137, 137);
    margin: 10px 0px 10px 0px;
  }
  #competence-60 {
    width: 60%;
    height: 30px;
    /*background-color: rgb(139, 109, 221);*/
    background-color: rgb(143, 137, 137);
    margin: 10px 0px 10px 0px;
  }

  .titre-competence {
    display: flex;
    align-items: center;
    padding-left: 20px;
    width: 150px;
    height: 100%;
    /*background-color: rgb(89, 52, 189);*/
    background-color: rgb(70, 68, 68);
    color: white;
  }

  .icon-retour {
    margin: 50px 0px 50px 200px;
    font-size: 30px;
  }

  .icon-retour a {
    text-decoration: none;
    color: black;
  }
}
