@media screen and (min-width: 769px) {
  #skills {
    height: 650px;
  }

  #titre-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10%;
    font-size: 50px;
  }

  #text-skills {
    height: 70%;
  }

  .icon-retour {
    margin-left: 200px;
    font-size: 30px;
    text-decoration: none;
    color: black;
  }
}
