#home {
  color: white;
  height: 650px;
  background-image: url("../../images/nasa-Q1p7bh3SHj8-unsplash.jpg");
  background-size: cover;
}

#header {
  color: white;
  height: 150px;
  background-color: #11ffee00;
}

#nom-entreprise {
  font-size: 80px;
  animation-name: move-vertically, move-orizontally;
  animation-duration: 10s, 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes move-vertically {
  from {
    margin-top: 10px;
  }
  to {
    margin-top: 200px;
  }
}
@keyframes move-orizontally {
  from {
    margin-left: 200px;
  }
  to {
    margin-left: 1000px;
  }
}
