@media screen and (min-width: 769px) {
  #contact {
    height: auto;
  }

  #titre-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10%;
    font-size: 50px;
  }

  #text-contact {
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #formulaire-contact {
    display: flex;
    flex-direction: column;
  }

  #nom-mail-contact {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
  }

  .nom-contact {
    width: 290px;
    margin-right: 10px;
  }
  .mail-contact {
    width: 290px;
    margin-left: 10px;
  }

  .sujet-contact {
    width: 600px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .message-contact {
    width: 600px;
    margin-top: 5px;
    margin-bottom: 50px;
  }
}
