@media screen and (min-width: 769px) {
  #contact {
    height: 650px;
  }

  #titre-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    font-size: 50px;
  }

  .icon-retour {
    margin-left: 200px;
    font-size: 30px;
    text-decoration: none;
    color: black;
  }
}
