@media screen and (min-width: 769px) {
  #footer {
    background-color: black;
    height: 100px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .rappel-menu {
    text-decoration: none;
    color: white;
  }
}
